<p>eventbinding1 works!</p>

<!-- syntax
    (eventName)="eventHandler"
    - eventHandler is a method that method will create in our component file 
    - it will work on any html tag 

-->

    <button (click)="onClick()" >Click Event</button>
    <br><br>


   <button [disabled]="isDissabled" (click)="onClick1()" >Click Event</button>
   <br><br>

   <img src="../../assets/images/bg.jpeg" alt="" id="myimg" (click)="onImageClick()" title="Click on image" >

   <br><br>

   <!-- $event 
   
    - It is Special Variable 
    - It gives current dom element information 
    - U can only access its data 
    -->

    <button (click)="onDollerEvent($event)" value="Doller Event..." >Doller Event</button>
    <hr>

    <!-- Template Ref Variable
        - it holds the object/handle of particular element
        - u can access it its data as well as u can manipulate its behaviour
        - u can apply any html tag
        - #uniquename
    -->
    
    <input #inputname type="text" placeholder="Enter the Name"><br><br>
    <button (click)="onSend(inputname)" >Send</button> <hr>

 <input #inputname1 type="text" placeholder="Enter the Name"><br><br>
    <button (click)="onSend1(inputname1.value)" >Send</button>

    
