<h2>My First Angular Application</h2>

<!-- <app-emplyoee></app-emplyoee> -->
<!-- <app-stringinterpolation></app-stringinterpolation> -->
<!-- <app-propertybinding></app-propertybinding> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-classbinding></app-classbinding> 
<-->
<!-- <app-eventbinding1></app-eventbinding1> -->
<!-- <app-eventbinding2></app-eventbinding2> -->
<!-- <app-eventbinding3></app-eventbinding3> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switchdirective></app-switchdirective> -->

<!-- <app-parent></app-parent> -->
<!-- <app-task5></app-task5> -->

<!-- <input #inputdate type="date"><br><br>
<button (click)="onSend(inputdate.value)" >Send</button>

<hr> -->
<!-- <app-parent2 [appDatedata]="dateData" ></app-parent2> -->
<!-- <app-parent3></app-parent3> -->
<!-- <app-inbuilt-pipe></app-inbuilt-pipe> -->
 <!-- <app-custompipe></app-custompipe> -->
  <!-- <app-course></app-course> -->
   <!-- <app-post></app-post> -->
   <!-- <router-outlet></router-outlet> -->
<app-home></app-home>